<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kamate</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        thead,
        tfoot {
            background-color: #3f87a6;
            color: #fff;
        }

        tbody {
            background-color: #e4f0f5;
        }

        caption {
            padding: 10px;
            caption-side: bottom;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: .8rem;
        }

        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 5px 10px;
        }

        td {
            text-align: center;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    </style>
</head>
<body>
<div id="kamatnjak">
    <div>
        <label for="kamata">Kamata (%)</label>
        <input v-model.number="kamata" id="kamata" type="number" step="any">
    </div>

    <div>
        <label for="rata">Broj rata (mjeseci)</label>
        <input v-model.number="rata" id="rata" type="number">
    </div>

    <div>
        <label for="glavnica">Iznos glavnice</label>
        <input v-model.number="glavnica" id="glavnica" type="number">
    </div>

    <div>
        <label for="subvencija">Subvencija (godina)</label>
        <input v-model.number="subvencija" id="subvencija" type="number">
    </div>

    <div>
        <label for="iznosSubvencije">Iznos subvencije (%)</label>
        <input v-model.number="iznosSubvencije" id="iznosSubvencije" type="number">
    </div>

    <div class="wrapper">
        <div>
            <h1>Anuiteti</h1>

            <h2>Mjesečni obrok tj. anuitet: {{ formatMoney(prviAnuitet) }}</h2>
            <table>
                <thead>
                <tr>
                    <th>RB</th>
                    <th>Glavnica</th>
                    <th>Kamata</th>
                    <th>Mjesečni obrok</th>
                    <th>Subvencija</th>
                    <th>Obrok nakon subvencije</th>
                    <th>Nedospjela Glavnica</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in rata">
                    <td>{{ i }}</td>
                    <td>{{ formatMoney(glavnicaZaMjesecAnuitet(i)) }}</td>
                    <td>{{ formatMoney(kamataZaMjesecAnuitet(i)) }}</td>
                    <td>{{ formatMoney(prviAnuitet) }}</td>
                    <td>{{ formatMoney(subvencijaAnuitet(i)) }}</td>
                    <td>{{ formatMoney(subvencijaOstatakAnuitet(i)) }}</td>
                    <td>{{ formatMoney(nedospijelaGlavnicaAnuitet(i)) }}</td>
                </tr>
                </tbody>

                <tfoot>

                <tr>
                    <th></th>
                    <th>Glavnica</th>
                    <th>Kamata</th>
                    <th>Mjesečni obrok</th>
                    <th>Subvencija</th>
                    <th>Nakon subvencije</th>
                    <th></th>
                </tr>
                <tr>
                    <th>UKUPNO:</th>
                    <th>{{ formatMoney(glavnica) }}</th>
                    <th>{{ formatMoney(ukupnoKamataAnuitet) }}</th>
                    <th>{{ formatMoney(ukupnoAnuitet) }}</th>
                    <th>{{ formatMoney(ukupnaSubvencijaAnuitet) }}</th>
                    <th>{{ formatMoney(ukupniOstatakAnuitet) }}</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div>
            <h1>Rate</h1>

            <h2>Prvi mjesečni obrok tj. rata: {{ formatMoney(prvaRata) }}</h2>

            <table>
                <thead>
                <tr>
                    <th>RB</th>
                    <th>Glavnica</th>
                    <th>Kamata</th>
                    <th>Mjesečni obrok</th>
                    <th>Subvencija</th>
                    <th>Obrok nakon subvencije</th>
                    <th>Nedospjela Glavnica</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="i in rata">
                    <td>{{ i }}</td>
                    <td>{{ formatMoney(glavnicaZaMjesec()) }}</td>
                    <td>{{ formatMoney(kamataZaMjesec(i)) }}</td>
                    <td>{{ formatMoney(rataZaMjesec(i)) }}</td>
                    <td>{{ formatMoney(subvencijaRata(i)) }}</td>
                    <td>{{ formatMoney(subvencijaOstatakRata(i)) }}</td>
                    <td>{{ formatMoney(nedospijelaGlavnica(i)) }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>Glavnica</th>
                    <th>Kamata</th>
                    <th>Mjesečni obrok</th>
                    <th>Subvencija</th>
                    <th>Nakon subvencije</th>
                    <th></th>
                </tr>
                <tr>
                    <th>UKUPNO:</th>
                    <th>{{ formatMoney(glavnica) }}</th>
                    <th>{{ formatMoney(ukupnoKamataRate) }}</th>
                    <th>{{ formatMoney(ukupnoRata) }}</th>
                    <th>{{ formatMoney(ukupnaSubvencijaRata) }}</th>
                    <th>{{ formatMoney(ukupniOstatakRata) }}</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

</body>
<script>
    var app = new Vue({
        el: '#kamatnjak',
        data: {
            kamata: 2.19,
            rata: 240,
            glavnica: 710000,
            subvencija: 5,
            iznosSubvencije: 33,
        },
        computed: {
            prviAnuitet: function () {

                var r = (this.kamata / 100) + 1
                var r2 = Math.pow(r, 1 / 12);
                var n = this.rata;
                var C0 = this.glavnica;

                var b = Math.pow(r2, n);

                return C0 * ((b * (r2 - 1)) / (b - 1));
            },
            prvaRata: function () {
                var C0 = this.glavnica;
                var r = (this.kamata / 100);
                var n = this.rata;
                var g = C0 / n;
                var k = (C0 * r) / 12;

                return g + k;
            },
            ukupnoKamataRate: function () {
                var kamata = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    kamata += this.kamataZaMjesec(i)
                }

                return kamata;
            },
            ukupnoKamataAnuitet: function () {
                var kamata = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    kamata += this.kamataZaMjesecAnuitet(i)
                }

                return kamata;
            },
            ukupnoAnuitet: function () {
                return this.glavnica + this.ukupnoKamataAnuitet;
            },
            ukupnoRata: function () {
                return this.glavnica + this.ukupnoKamataRate;
            },
            ukupnaSubvencijaAnuitet: function () {
                var subvencija = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    subvencija += this.subvencijaAnuitet(i)
                }

                return subvencija;
            },
            ukupniOstatakAnuitet: function () {
                var subvencija = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    subvencija += this.subvencijaOstatakAnuitet(i)
                }

                return subvencija;
            },
            ukupnaSubvencijaRata: function () {
                var subvencija = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    subvencija += this.subvencijaRata(i)
                }

                return subvencija;
            },
            ukupniOstatakRata: function () {
                var subvencija = 0

                for (var i = 1; i <= parseInt(this.rata); i++) {
                    subvencija += this.subvencijaOstatakRata(i)
                }

                return subvencija;
            }
        },
        methods: {
            glavnicaZaMjesec: function () {
                var C0 = this.glavnica;
                var n = this.rata;
                var g = C0 / n;

                return g;
            },
            kamataZaMjesec: function (mjesec) {
                var n = this.rata;
                var C0 = this.glavnica;
                var g = C0 / n;
                var C1 = C0 - (g * (mjesec - 1));
                var r = this.kamata / 100;
                var k = (C1 * r) / 12;

                return k;
            },
            rataZaMjesec: function (mjesec) {
                return (this.glavnicaZaMjesec() + this.kamataZaMjesec(mjesec));
            },
            nedospijelaGlavnica: function (mjesec) {
                var n = this.rata;
                var C0 = this.glavnica;
                var g = C0 / n;
                var C1 = C0 - (g * (mjesec));

                return C1;
            },
            nedospijelaGlavnicaAnuitet: function (mjesec) {
                var r = (this.kamata / 100) + 1
                var r2 = Math.pow(r, 1 / 12);
                var n = this.rata;
                var C0 = this.glavnica;

                var b = Math.pow(r2, n);

                var A = C0 * ((b * (r2 - 1)) / (b - 1));

                var p = n - mjesec;

                return A * ((Math.pow(r2, p) - 1) / (Math.pow(r2, p) * (r2 - 1)));
            },
            kamataZaMjesecAnuitet: function (mjesec) {
                var r = (this.kamata / 100) / 12;
                return this.nedospijelaGlavnicaAnuitet(mjesec - 1) * r;
            },
            glavnicaZaMjesecAnuitet: function (mjesec) {
                return this.prviAnuitet - this.kamataZaMjesecAnuitet(mjesec);
            },
            subvencijaRata: function (mjesec) {
                if ((this.subvencija * 12) <= mjesec) return 0

                var r = this.iznosSubvencije / 100;

                return this.rataZaMjesec(mjesec) * r;
            },
            subvencijaOstatakRata: function (mjesec) {
                if ((this.subvencija * 12) <= mjesec) return this.rataZaMjesec(mjesec)

                var r = this.iznosSubvencije / 100;

                return this.rataZaMjesec(mjesec) * Math.abs(r - 1);
            },
            subvencijaAnuitet: function (mjesec) {
                if ((this.subvencija * 12) <= mjesec) return 0

                var r = this.iznosSubvencije / 100;
                return this.prviAnuitet * r;
            },
            subvencijaOstatakAnuitet: function (mjesec) {
                if ((this.subvencija * 12) <= mjesec) return this.prviAnuitet

                var r = this.iznosSubvencije / 100;
                return this.prviAnuitet * Math.abs(r - 1);
            },
            formatMoney (amount, decimalCount = 2, decimal = ",", thousands = ".") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                    const negativeSign = amount < 0 ? "-" : "";

                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;

                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
                } catch (e) {
                    console.log(e)
                }
            }
        }
    })
</script>
</html>
